@import "./settings.css";

.main {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  margin-bottom: 5rem;
}
.card {
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: var(--Blue-Card-BG);
  margin-bottom: 1.5rem;
}
.card-title {
  text-align: center;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 1rem;
}
.card-img-container {
  width: 40%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  display: flex;
}
.card-img {
  width: 100%;
  display: block;
}
.card-link {
  display: block;
  text-align: center;
  padding: 0.7rem;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
  background: var(--Btn);
  color: var(--bg-color-main);
  margin-bottom: 0.5rem;
}
/* Modal */
.modal {
  border: none;
  border-radius: 0.4rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-color-main);
  color: var(--Text);
}

.modal-paraph {
  text-align: center;
  color: var(--Text);
}
.btn-modal {
  border: none;
  padding: 1rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  color: var(--Text);
  background-color: var(--Blue-Card-BG);
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.btn-modal:hover {
  transition: transform 0.3s;
  transform: scale(1.1);
}

@media screen and (min-width: 500px) {
  .main {
    width: 70%;
  }
}
@media screen and (min-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  .card {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    position: sticky;
    top: 0;
  }
  .nav-logo {
    font-size: 1.3rem;
  }
  .nav-menu {
    border-radius: 0 0 1rem 1rem;
    right: 0;
    left: initial;
    width: 3rem;
    padding: 0.5rem;
    transform: translateY(-100%);
  }
  .nav-menu.isActive {
    transform: translateY(0);
  }
  .nav-items {
    flex-direction: column;
    align-items: center;
  }
  .main {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 1.5rem;
  }
  .card-link {
    transition: transform 0.2s;
    will-change: transform;
  }
  .card-link:hover {
    transform: scale(1.05);
  }
  .modal {
    width: 40%;
  }
}
