@import "./settings.css";

h1 {
  text-align: center;
}
.neon {
  color: var(--Text);
  text-shadow: 0 0 5px #fede43, 0 0 10px #fede43, 0 0 20px #fede43,
    0 0 40px #fede43, 0 0 80px #fede43, 0 0 90px #fede43, 0 0 100px #fede43,
    0 0 150px #fede43;
}
main {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}
summary {
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}
summary + ol li a {
  color: var(--Text);
}
summary + ol li a:hover {
  text-decoration: underline;
}
pre.pre-js::before {
  background-image: url("./../assets/images/javascript.svg");
}

@media screen and (min-width: 1024px) {
  main {
    width: 70%;
  }
}
