<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
<!-- Iconscout -->
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="./css/notes.css">
<!-- Highlight style sheet -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css"
  integrity="sha512-Jk4AqjWsdSzSWCSuQTfYRIF84Rq/eV0G2+tu07byYwHcbTGfdmLrHjUSwvzp5HvbiqK4ibmNwdcG49Y5RGYPTg=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png">

<title>Notes-Angular</title>
</head>

<body>
  <header class="header">
  <div class="header-menu">
    <a href="./index.html" class="nav-logo">Gamcode</a>
    <div class="header-btns">
      <a href="#" title="Theme" id="icon-theme">
        <i class="uil uil-moon icon-img"></i>
      </a>
      <a href="#" title="Menu" id="icon-menu">
        <i class="uil uil-apps icon-img"></i>
      </a>
    </div>
  </div>
  <nav class="nav-menu">
    <ul class="nav-items">
      <li>
        <a href="#" title="Buy me a coffee">
          <i class="uil uil-coffee icon-img"></i>
        </a>
      </li>
      <li>
        <a href="#" title="Portfolio">
          <i class="uil uil-suitcase icon-img"></i>
        </a>
      </li>
      <li>
        <a href="#" title="GitHub">
          <i class="uil uil-github icon-img"></i>
        </a>
      </li>
      <li>
        <a href="#" title="Linkedin">
          <i class="uil uil-linkedin icon-img"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>
  <main>
    <section>
      <header>
        <h1 class="neon angular">Notas sobre Angular</h1>
      </header>
      <!-- Introduction -->
      <details id="details-introduction">
        <summary>
          🏁 Introducción
        </summary>
        <ol>
          <li>
            <a href="">Instalación</a>
          </li>
        </ol>
      </details>
    </section>
    <section id="introduction">
      <h2 id="instalación">Instalación</h2>
<h3 id="angular-cli">Angular CLI</h3>
<pre><code class="language-console">npm i -g @angular/cli</code></pre>
<h3 id="comandos-de-angular-para-correr-un-proyecto">Comandos de Angular para correr un proyecto</h3>
<ul>
<li>Siguiente comando a ejecutar es : <code>ng version</code></li>
<li>Comando para crear un proyecto: <code>ng new my-app</code></li>
<li>Correr servidor en Angular: <code>ng serve</code>, con la opción <code>-o</code> abre el navegador por defecto.</li>
<li>Cambiar de puerto: <code>ng serve -o --port=3500</code></li>
<li>Con <code>ng version</code> dentro de un proyecto podemos ver las dependencias que trae el proyecto.</li>
</ul>
<h2 id="estructura-de-un-proyecto-en-angular">Estructura de un proyecto en Angular</h2>
<ul>
<li>La carpeta <strong>src</strong> es donde se desarrolla.</li>
<li>El archivo <strong>.browserslistrc</strong> figuran los navegadores a los cuales se les puede dar soporte.</li>
<li>El archivo <strong>.editorconfig</strong> se establecen las normativas para trabajar en equipo (identación, etc), hay que tener instalado la extesión en <strong>vscode</strong>.</li>
<li>Una extensión para <strong>vscode</strong> que ayuda en el desarrollo es <strong>Angular Language Service</strong></li>
<li>Una recomendación es agregar un archivo <strong>.nvmrc</strong> en el proyecto e indicar la versión que se está utilizando de <strong>node</strong>.</li>
</ul>
<h2 id="comandos-básicos-de-typescript-para-usar-en-angular">Comandos básicos de TypeScript para usar en Angular</h2>
<ul>
<li>Asignar tipo de dato:</li>
</ul>
<pre><code class="language-TypeScript">const username: string | number = &#39;gamcode&#39;;
//Se está diciendo que username puede ser de tipo string o number</code></pre>
<ul>
<li>Ejemplo de una función suma:</li>
</ul>
<pre><code class="language-TypeScript">  const suma = (a: number, b : number)=&gt;{
    return a + b;
  }
  suma(2,&quot;asdad&quot;) //Marca error de sintaxis en vscode algo que no sucede con vanilla JS</code></pre>
<blockquote>
<p>Angular usa el concepto de POO</p>
</blockquote>
<ul>
<li>Ejemplo:</li>
</ul>
<pre><code class="language-TypeScript">class Person {
  age: number;
  lastName: string;

  constructor(age: number, lastName: string){
    this.age = age;
    this.lastName = lastName
  }
}</code></pre>
<ul>
<li>Otra forma de hacer lo mismo:</li>
</ul>
<pre><code class="language-TypeScript">class Person {
  constructor(public age: number, public lastName: string) {}
}</code></pre>
<ul>
<li>Se lo puede usar:</li>
</ul>
<pre><code class="language-TypeScript">  const gabriel = new Person(23,&quot;Mamani&quot;)
  gabriel.age</code></pre>
<h2 id="string-interpolation">String Interpolation</h2>
<p>La forma en la que desde la lógica (TypeScript) se puede pasar datos a reenderizar a los templates (vista).</p>
<ul>
<li>Ejemplo:</li>
</ul>
<pre><code class="language-TypeScript">&lt;h2&gt;{{&quot;Hello world&quot;.repeat(5)}}&lt;/h2&gt;
&lt;p&gt;3 + 3 = {{3+3}}&lt;/p&gt;</code></pre>
<p>En la carpeta <strong>src</strong> hay un archivo <strong>app.component.ts</strong> en donde hay configuraciones que indican en donde se va a reendirazar la vista y variables que se pueden reenderizar.</p>
<pre><code class="language-TypeScript">
//Archivo app.component.ts
import { Component } from &#39;@angular/core&#39;;

@Component({
  selector: &#39;app-root&#39;,
  templateUrl: &#39;./app.component.html&#39;,
  styleUrls: [&#39;./app.component.scss&#39;],
})
export class AppComponent {
  name = &#39;Gabriel&#39;;
  img = &quot;https://placeimg.com/640/480/any&quot;
}
//Las variables deben tener acceso público, por defecto lo es</code></pre>
<pre><code class="language-html">&lt;!--Archivo app.component.html--&gt;
&lt;h3&gt;Hi, I&#39;m {{name}}&lt;/h3&gt;
&lt;img src=&quot;{{img}}&quot; alt=&quot;image&quot; /&gt;</code></pre>
<h2 id="property-binding">Property [Binding]</h2>
<p>Es la forma en la que se puede modificar atributos desde el controlador y mandarlos a la vista</p>
<pre><code class="language-TypeScript">//Archivo app.component.ts
import { Component } from &#39;@angular/core&#39;;

@Component({
  selector: &#39;app-root&#39;,
  templateUrl: &#39;./app.component.html&#39;,
  styleUrls: [&#39;./app.component.scss&#39;],
})
export class AppComponent {
  img = &#39;https://placeimg.com/200/200/any&#39;;
  name = &#39;Gabriel&#39;;
  number = 12;
  btnDisabled = true;
  thing = {
    name: &#39;Gabriel&#39;,
    number: 21,
    img: &#39;https://placeimg.com/200/200/any&#39;,
  };
}</code></pre>
<pre><code class="language-html">&lt;!--Archivo app.component.html--&gt;
&lt;h2&gt;Propiedades&lt;/h2&gt;
&lt;button [disabled]=&quot;btnDisabled&quot;&gt;Enviar&lt;/button&gt;
&lt;input type=&quot;text&quot; [value]=&quot;name&quot; /&gt;
&lt;progress max=&quot;100&quot; [value]=&quot;number&quot;&gt;&lt;/progress&gt;
&lt;img [src]=&quot;img&quot; alt=&quot;image&quot; /&gt;
&lt;br /&gt;
&lt;h2&gt;Propiedades usando un objeto&lt;/h2&gt;
&lt;button [disabled]=&quot;btnDisabled&quot;&gt;Enviar&lt;/button&gt;
&lt;input type=&quot;text&quot; [value]=&quot;thing.name&quot; /&gt;
&lt;progress max=&quot;100&quot; [value]=&quot;thing.number&quot;&gt;&lt;/progress&gt;
&lt;img [src]=&quot;thing.img&quot; alt=&quot;image&quot; /&gt;</code></pre>
<h2 id="¿string-interpolation-o-property-binding">¿String Interpolation o Property [Binding]?</h2>
<ul>
<li><p><strong>String Interpolation</strong> se lo usar para ingresar contenido como en un párrafo, h1 en donde se lo necesite reenderizarlo.</p>
</li>
<li><p><strong>Property [Binding]</strong> es especificamente para propiedades de las etiquetas HTML</p>
</li>
</ul>
<p><strong>Nota</strong>: Si se están usando <strong>Objetos</strong> es más recomendable usar <strong>Property Binding</strong></p>
<h2 id="event-binding">Event Binding</h2>
<pre><code class="language-html">&lt;!--Archivo app.component.html--&gt;
&lt;h1&gt;Eventos&lt;/h1&gt;
&lt;button [disabled]=&quot;btnDisabled&quot;&gt;Enviar&lt;/button&gt;
&lt;button (click)=&quot;toggleButton()&quot;&gt;Toggle Button&lt;/button&gt;
&lt;br /&gt;
&lt;button (click)=&quot;increaseNumber()&quot;&gt;Number ++&lt;/button&gt;
&lt;p&gt;Number: {{thing.number}}&lt;/p&gt;</code></pre>
<pre><code class="language-TypeScript">//Archivo app.component.ts
import { Component } from &#39;@angular/core&#39;;

@Component({
  selector: &#39;app-root&#39;,
  templateUrl: &#39;./app.component.html&#39;,
  styleUrls: [&#39;./app.component.scss&#39;],
})
export class AppComponent {
  img = &#39;https://placeimg.com/200/200/any&#39;;
  name = &#39;Gabriel&#39;;
  number = 12;
  btnDisabled = true;
  thing = {
    name: &#39;Gabriel&#39;,
    number: 21,
    img: &#39;https://placeimg.com/200/200/any&#39;,
  };
  //Puede ser public o private, pero si se lo quiere usar en el componente debe ser public (por defecto)
  toggleButton() {
    this.btnDisabled = !this.btnDisabled;
  }
  increaseNumber() {
    this.thing.number += 1;
  }
}</code></pre>
<h2 id="otros-eventos-que-escuchar">Otros eventos que escuchar</h2>
<ul>
<li>Keyup, Scroll</li>
</ul>
<pre><code class="language-html">&lt;!--Archivo app.component.html--&gt;
&lt;div class=&quot;box&quot; (scroll)=&quot;onScroll($event)&quot;&gt;
  &lt;p&gt;
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus
    quidem incidunt adipisci quod saepe non. Ratione tempore incidunt et, quo
    eaque illo accusantium neque eveniet necessitatibus qui, consectetur
    eligendi vel. Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Temporibus earum distinctio laboriosam unde porro dicta iure nam deleniti
    animi, officia, ad at odit repellendus provident error numquam eaque
    tempore! Maxime!
  &lt;/p&gt;
&lt;/div&gt;
&lt;p&gt;Nombre {{thing.name}}&lt;/p&gt;
&lt;input type=&quot;text&quot; [value]=&quot;thing.name&quot; (keyup)=&quot;changeName($event)&quot; /&gt;</code></pre>
<pre><code class="language-css">//Archivo app.component.scss
.box {
  height: 200px;
  width: 200px;
  overflow: auto;
  background-color: rebeccapurple;
  color: white;
}</code></pre>
<pre><code class="language-TypeScript">//Archivo app.component.ts

import { Component } from &#39;@angular/core&#39;;

@Component({
  selector: &#39;app-root&#39;,
  templateUrl: &#39;./app.component.html&#39;,
  styleUrls: [&#39;./app.component.scss&#39;],
})
export class AppComponent {
  img = &#39;https://placeimg.com/200/200/any&#39;;
  name = &#39;Gabriel&#39;;
  number = 12;
  btnDisabled = true;
  thing = {
    name: &#39;Gabriel&#39;,
    number: 21,
    img: &#39;https://placeimg.com/200/200/any&#39;,
  };

  // Otros eventos
  onScroll(event: Event) {
    const element = event.target as HTMLElement;
    console.log(element.scrollTop);
  }
  changeName(event: Event) {
    const element = event.target as HTMLInputElement;
    console.log(element.value);
    this.thing.name = element.value;
  }
}</code></pre>
<h2 id="data-binding-con-ngmodel">Data binding con ngModel</h2>
<pre><code class="language-html">&lt;!--Archivo app.component.html--&gt;
&lt;h1&gt;ngModel&lt;/h1&gt;
&lt;p&gt;Nombre: {{thing.name}}&lt;/p&gt;
&lt;input type=&quot;text&quot; required #nameInput=&quot;ngModel&quot; [(ngModel)]=&quot;thing.name&quot; /&gt;
&lt;p&gt;Valid: {{nameInput.valid}}&lt;/p&gt;
&lt;br /&gt;
&lt;p&gt;Number: {{thing.number}}&lt;/p&gt;
&lt;input
  type=&quot;number&quot;
  max=&quot;100&quot;
  min=&quot;1&quot;
  required
  #numberInput=&quot;ngModel&quot;
  [(ngModel)]=&quot;thing.number&quot;
/&gt;
&lt;p&gt;Valid: {{numberInput.valid}}&lt;/p&gt;</code></pre>
<p>Para que funcione <strong>ngModel</strong> hay que importarlo</p>
<pre><code class="language-TypeScript">// Archivo app.module.ts
import { NgModule } from &#39;@angular/core&#39;;
import { BrowserModule } from &#39;@angular/platform-browser&#39;;
import { FormsModule } from &#39;@angular/forms&#39;; // Esto se importa

import { AppRoutingModule } from &#39;./app-routing.module&#39;;
import { AppComponent } from &#39;./app.component&#39;;

@NgModule({
  declarations: [AppComponent],
  imports: [BrowserModule, AppRoutingModule, FormsModule], // Aqui tambien se lo coloca
  providers: [],
  bootstrap: [AppComponent],
})
export class AppModule {}
</code></pre>
<h2 id="estructuras-de-control">Estructuras de control</h2>
<h2 id="uso-de-ngif">Uso de *ngIf</h2>
<pre><code class="language-html">&lt;h1&gt;*ngIf&lt;/h1&gt;
&lt;input type=&quot;text&quot; required [(ngModel)]=&quot;thing.name&quot; /&gt;
&lt;p *ngIf=&quot;thing.name === &#39;gabriel&#39;&quot;&gt;Soy Gabriel&lt;/p&gt;
&lt;p *ngIf=&quot;thing.name === &#39;alejandro&#39;&quot;&gt;Soy Alejandro&lt;/p&gt;
&lt;!--Si se cumple, se muestra --&gt;
&lt;!--Tambien se puede hacer condicionales &amp;&amp;--&gt;
&lt;p *ngIf=&quot;thing.name === &#39;alejandro&#39; &amp;&amp; thing.number === 22; else  elseBlock&quot;&gt;
  Soy Alejandro
&lt;/p&gt;
&lt;!-- Bloque de tipo else --&gt;
&lt;ng-template #elseBlock&gt;
  &lt;!-- El nombre que acompaña al #, es cualquiera --&gt;
  &lt;p&gt;Bloque de else&lt;/p&gt;
&lt;/ng-template&gt;</code></pre>
<h2 id="uso-de-ngfor">Uso de *ngFor</h2>
<pre><code class="language-TypeScript">// Archivo app.component.ts
names : string[] | number[]= [&quot;Gabriel&quot;, &quot;Alejandro&quot;, &quot;Simón&quot;]
//any[] -&gt; Indica que queremos cualquier valor, no es buena practica</code></pre>
<pre><code class="language-html">&lt;h1&gt;*ngFor&lt;/h1&gt;
&lt;ul&gt;
  &lt;!-- name es el nombre del item (variable temporal) a iterar, names es el array --&gt;
  &lt;!-- Para obtener el indice se usa index y lo renombramos con i egg--&gt;
  &lt;li *ngFor=&quot;let name of names; index as i&quot;&gt;{{i}} - {{name}}&lt;/li&gt;
&lt;/ul&gt;</code></pre>
<ul>
<li>Crear una lista dinamicamente y eliminar un item.</li>
</ul>
<pre><code class="language-TypeScript">// Archivo app.component.ts
  newName = &quot;&quot;;
  addName(){
    this.names.push(this.newName);
    this.newName = &quot;&quot;;
  }
  deleteName(index: number){
    this.names.splice(index,1);
  }</code></pre>
<pre><code class="language-html">&lt;h1&gt;*ngFor&lt;/h1&gt;
&lt;input type=&quot;text&quot; required [(ngModel)]=&quot;newName&quot; /&gt;
&lt;button (click)=&quot;addName()&quot;&gt;Add name&lt;/button&gt;
&lt;ul&gt;
  &lt;!-- name es el nombre del item (variable temporal) a iterar, names es el array --&gt;
  &lt;!-- Para obtener el indice se usa index y lo renombramos con i egg--&gt;
  &lt;li *ngFor=&quot;let name of names; index as i&quot;&gt;
    {{i}} - {{name}}
    &lt;button (click)=&quot;deleteName(i)&quot;&gt;Delete&lt;/button&gt;
  &lt;/li&gt;
  &lt;li *ngIf=&quot;names.length === 0&quot;&gt;No hay nombres&lt;/li&gt;
&lt;/ul&gt;</code></pre>
<h2 id="ngfor-para-arrays">*ngFor para arrays</h2>
<pre><code class="language-TypeScript">// Archivo app.component.ts
  products = [
    {
      name : &quot;coso&quot;,
      price : 231,
      image : &quot;./assets/images/toy1.jpg&quot;
    }{
      name : &quot;coso 2&quot;,
      price : 291,
      image : &quot;./assets/images/toy2.jpg&quot;
    }{
      name : &quot;coso 3&quot;,
      price : 211,
      image : &quot;./assets/images/toy3.jpg&quot;
    }{
      name : &quot;coso 4&quot;,
      price : 221,
      image : &quot;./assets/images/toy4.jpg&quot;
    }
  ]
</code></pre>
<ul>
<li>Hay que asignarle un tipado al array de productos, entonces se usa las interfaces.</li>
</ul>
<pre><code class="language-TypeScript">//Archivo product.model.ts
//La interface es una forma que nos dice que tipo de atributos debería tener cada objeto
export interface Product {
  name: string;
  price: number;
  image: string;
}</code></pre>
<ul>
<li>Ahora se lo importa</li>
</ul>
<pre><code class="language-TypeScript">// Archivo app.component.ts

  import {Product} from &quot;./product.model&quot;
  //Los : (dos puntos) significa asignar un tipado
  products: Product[] = [
    {
      name : &quot;coso 1&quot;,
      price : 231,
      image : &quot;./assets/images/toy1.jpg&quot;
      category: &quot;all&quot;,
    }{
      name : &quot;coso 2&quot;,
      price : 291,
      image : &quot;./assets/images/toy2.jpg&quot;
    }{
      name : &quot;coso 3&quot;,
      price : 211,
      image : &quot;./assets/images/toy3.jpg&quot;
    }{
      name : &quot;coso 4&quot;,
      price : 221,
      image : &quot;./assets/images/toy4.jpg&quot;
    }
  ]
</code></pre>
<ul>
<li>Como <strong>category</strong> no existe, vscode avisa que algo anda mal, para solucionarlo se puede hacer que sea opcional agregando a la interfaz dicho atributo con un signo de pregunta <strong>?</strong></li>
</ul>
<pre><code class="language-TypeScript">export interface Product {
  name: string;
  price: numb   er;
  image: string;
  category?:string;
}</code></pre>
<ul>
<li>*ngFor solo funciona en objetos que puedan iterarse</li>
</ul>
<h2 id="uso-de-ngswitch">Uso de ngSwitch</h2>
<pre><code class="language-html">&lt;h2&gt;ngSwitch&lt;/h2&gt;
&lt;input type=&quot;text&quot; required [(ngModel)]=&quot;thing.name&quot; /&gt;
&lt;div [ngSwitch]=&quot;thing.name&quot;&gt;
  &lt;p *ngSwitchCase=&quot;&#39;gabriel&#39;&quot;&gt;La persona es gabriel&lt;/p&gt;
  &lt;p *ngSwitchCase=&quot;&#39;alejandro&#39;&quot;&gt;La persona es alejandro&lt;/p&gt;
  &lt;p *ngSwitchCase=&quot;&#39;simon&#39;&quot;&gt;La persona es simon&lt;/p&gt;
  &lt;p *ngSwitchDefault&gt;No hace match&lt;/p&gt;
&lt;/div&gt;
&lt;!--
  Esto se haria si solo se usara *ngIf
  &lt;p *ngIf=&quot; thing.name===&#39;gabriel&#39;&quot;&gt;La persona es gabriel&lt;/p&gt;
  &lt;p *ngIf=&quot; thing.name===&#39;alejandro&#39;&quot;&gt;La persona es alejandro&lt;/p&gt;
  &lt;p *ngIf=&quot; thing.name===&#39;simon&#39;&quot;&gt;La persona es simon&lt;/p&gt; 
  --&gt;</code></pre>
<h2 id="extensión-para-navegadores-para-desarrollar-en-angular">Extensión para navegadores para desarrollar en Angular</h2>
<blockquote>
<p>Angular Dev Tools</p>
</blockquote>
<h2 id="estilos-en-angular">Estilos en Angular</h2>
<ul>
<li><p>La primera forma es la normal</p>
</li>
<li><p>La otra es: Dynamic Class &amp; Style</p>
</li>
</ul>
<pre><code class="language-TypeScript">// Archivo app.component.ts
  widthImg = 10;
</code></pre>
<pre><code class="language-html">&lt;h1&gt;Class &amp; Style&lt;/h1&gt;
&lt;input type=&quot;text&quot; required #nameInput2=&quot;ngModel&quot; [(ngModel)]=&quot;thing.name&quot; /&gt;
&lt;!--                     invalid es el nombre de la clase --&gt;
&lt;p class=&quot;message-error&quot; [class.invalid]=&quot;nameInput2.invalid&quot;&gt;
  El campo es requerido
&lt;/p&gt;
&lt;br /&gt;
&lt;label&gt;Nombre&lt;/label&gt;
&lt;!-- Como estilo en linea--&gt;
&lt;input type=&quot;text&quot; required #nameInput3=&quot;ngModel&quot; [(ngModel)]=&quot;thing.name&quot; /&gt;
&lt;p [style.font-style]=&quot;nameInput3.invalid  ? &#39;italic&#39; : &#39;normal&#39;&quot;&gt;
  Texto texto texto
&lt;/p&gt;
&lt;br /&gt;
&lt;div class=&quot;styles&quot;&gt;
  &lt;div&gt;
    &lt;input type=&quot;text&quot; [(ngModel)]=&quot;widthImg&quot; /&gt;
  &lt;/div&gt;
  &lt;div&gt;
    &lt;img [style.width.px]=&quot;widthImg&quot; [src]=&quot;thing.avatar&quot; /&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;hr /&gt;</code></pre>
<ul>
<li>CSS del código HTML anterior</li>
</ul>
<pre><code class="language-css">.message-error {
  background-color: red;
  color: white;
  opacity: 0;
  transition: all linear 0.5s;
  &amp;.invalid {
    opacity: 1;
  }
}

.styles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}</code></pre>
<h2 id="ngclass--ngstyle">NgClass &amp; NgStyle</h2>
<pre><code class="language-html">&lt;h2&gt;NgClass&lt;/h2&gt;
&lt;input type=&quot;text&quot; required #nameInput4=&quot;ngModel&quot; [(ngModel)]=&quot;thing.name&quot; /&gt;
&lt;!-- Si se sigue con esto puede llegar a ser poco legible --&gt;
&lt;!-- &lt;hr class=&quot;line-error&quot; 
  [class.valid]=&quot;nameInput4.valid&quot;
  [class.invalid]=&quot;nameInput4.invalid&quot;&gt; --&gt;

&lt;!-- Es mejor usar ...--&gt;
&lt;hr
  class=&quot;line-error&quot;
  [ngClass]=&quot;{
    &#39;valid&#39;:nameInput4.valid,
    &#39;invalid&#39;:nameInput4.invalid
  }&quot;
/&gt;
&lt;p class=&quot;message-error&quot; [class.invalid]=&quot;nameInput4.invalid&quot;&gt;
  El campo es requerido
&lt;/p&gt;
&lt;h2&gt;Ng Style&lt;/h2&gt;
&lt;div class=&quot;styles&quot;&gt;
  &lt;div&gt;
    &lt;input type=&quot;number&quot; [(ngModel)]=&quot;box.width&quot; /&gt;
    &lt;input type=&quot;number&quot; [(ngModel)]=&quot;box.height&quot; /&gt;
    &lt;input type=&quot;color&quot; [(ngModel)]=&quot;box.background&quot; /&gt;
  &lt;/div&gt;
  &lt;div&gt;
    &lt;div
      [ngStyle]=&quot;{
        &#39;width.px&#39;:box.width,
        &#39;height.px&#39;:box.height,
        &#39;background-color&#39;:box.background,
        &#39;display&#39;: &#39;block&#39;
      }&quot;
    &gt;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
<pre><code class="language-TypeScript"> box = {
    width: 100,
    height: 100,
    background: &#39;red&#39;,
  };</code></pre>
<h2 id="creando-un-formulario">Creando un formulario</h2>
<pre><code class="language-html">&lt;h2&gt;Formulario&lt;/h2&gt;
&lt;form (ngSubmit)=&quot;onRegister()&quot; #myForm=&quot;ngForm&quot;&gt;
  &lt;div class=&quot;input.group&quot;&gt;
    &lt;label for=&quot;name&quot;&gt;Nombre&lt;/label&gt;
    &lt;input
      required
      name=&quot;name&quot;
      type=&quot;text&quot;
      id=&quot;name&quot;
      [(ngModel)]=&quot;register.name&quot;
    /&gt;
    &lt;p&gt;Mensajes de error&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class=&quot;input.group&quot;&gt;
    &lt;label for=&quot;email&quot;&gt;Email&lt;/label&gt;
    &lt;input
      required
      name=&quot;email&quot;
      type=&quot;text&quot;
      id=&quot;email&quot;
      [(ngModel)]=&quot;register.email&quot;
    /&gt;
    &lt;p&gt;Mensajes de error&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class=&quot;input.group&quot;&gt;
    &lt;label for=&quot;password&quot;&gt;Password&lt;/label&gt;
    &lt;input
      name=&quot;password&quot;
      required
      type=&quot;text&quot;
      id=&quot;password&quot;
      [(ngModel)]=&quot;register.password&quot;
    /&gt;
    &lt;p&gt;Mensajes de error&lt;/p&gt;
  &lt;/div&gt;
  &lt;button [disabled]=&quot;myForm.invalid&quot; type=&quot;submit&quot;&gt;Registrar&lt;/button&gt;
  &lt;!-- Si hay otro boton que hace otra cosa que no sea enviar el formulario hay que ponerle un type=&quot;button&quot;, sino angular lo toma como si fuera un type=&quot;submit&quot; --&gt;
  &lt;button type=&quot;button&quot;&gt;Action&lt;/button&gt;
&lt;/form&gt;</code></pre>
<pre><code class="language-TypeScript">  register = {
    name: &#39;&#39;,
    email: &#39;&#39;,
    password: &#39;&#39;,
  };
  onRegister() {
    console.log(this.register);
  }
}</code></pre>
    </section>
  </main>

  <!-- Button scroll top -->
<button class="scroll-top-btn hidden">⬆</button>
<!-- Custom JS  -->
<script src="./../js/index.js" type="module"></script>
<!-- Highlight JS -->
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
</body>

</html>