<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
<!-- Iconscout -->
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="./css/notes.css">
<!-- Highlight style sheet -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css"
  integrity="sha512-Jk4AqjWsdSzSWCSuQTfYRIF84Rq/eV0G2+tu07byYwHcbTGfdmLrHjUSwvzp5HvbiqK4ibmNwdcG49Y5RGYPTg=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png">

<title>Notes-Angular</title>
</head>

<body>
  <header class="header">
  <div class="header-menu">
    <a href="./index.html" class="nav-logo">Gamcode</a>
    <div class="header-btns">
      <a href="#" title="Theme" id="icon-theme">
        <i class="uil uil-moon icon-img"></i>
      </a>
      <a href="#" title="Menu" id="icon-menu">
        <i class="uil uil-apps icon-img"></i>
      </a>
    </div>
  </div>
  <nav class="nav-menu">
    <ul class="nav-items">
      <li>
        <a href="#" title="Buy me a coffee">
          <i class="uil uil-coffee icon-img"></i>
        </a>
      </li>
      <li>
        <a href="#" title="Portfolio">
          <i class="uil uil-suitcase icon-img"></i>
        </a>
      </li>
      <li>
        <a href="#" title="GitHub">
          <i class="uil uil-github icon-img"></i>
        </a>
      </li>
      <li>
        <a href="#" title="Linkedin">
          <i class="uil uil-linkedin icon-img"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>
  <main>
    <section id="section-main">
      <section>
        <h2 id="instalación">Instalación</h2>
<h3 id="angular-cli">Angular CLI</h3>
<pre><code class="language-console">npm i -g @angular/cli</code></pre>
<h3 id="comandos-de-angular-para-correr-un-proyecto">Comandos de Angular para correr un proyecto</h3>
<ul>
<li>Siguiente comando a ejecutar es : <code>ng version</code></li>
<li>Comando para crear un proyecto: <code>ng new my-app</code></li>
<li>Correr servidor en Angular: <code>ng serve</code>, con la opción <code>-o</code> abre el navegador por defecto.</li>
<li>Cambiar de puerto: <code>ng serve -o --port=3500</code></li>
<li>Con <code>ng version</code> dentro de un proyecto podemos ver las dependencias que trae el proyecto.</li>
</ul>
<h3 id="estructura-de-un-proyecto-en-angular">Estructura de un proyecto en Angular</h3>
<ul>
<li>La carpeta <strong>src</strong> es donde se desarrolla.</li>
<li>El archivo <strong>.browserslistrc</strong> figuran los navegadores a los cuales se les puede dar soporte.</li>
<li>El archivo <strong>.editorconfig</strong> se establecen las normativas para trabajar en equipo (identación, etc), hay que tener instalado la extesión en <strong>vscode</strong>.</li>
<li>Una extensión para <strong>vscode</strong> que ayuda en el desarrollo es <a href="https://marketplace.visualstudio.com/items?itemName=Angular.ng-template"><strong>Angular Language Service</strong></a></li>
<li>Una recomendación es agregar un archivo <strong>.nvmrc</strong> en el proyecto e indicar la versión que se está utilizando de <strong>node</strong>.</li>
</ul>
<h3 id="ejemplos-básicos-de-typescript-para-usar-en-angular">Ejemplos básicos de TypeScript para usar en Angular</h3>
<ul>
<li>Asignar tipo de dato:</li>
</ul>
<pre><code class="language-typescript">const username: string | number = &quot;gamcode&quot;;
//Se está diciendo que username puede ser de tipo string o number</code></pre>
<ul>
<li>Ejemplo de una función suma:</li>
</ul>
<pre><code class="language-typescript">const suma = (a: number, b: number) =&gt; {
  return a + b;
};
suma(2, &quot;asdad&quot;); //Marca error de sintaxis en vscode algo que no sucede con vanilla JS</code></pre>
<blockquote>
<p>Angular usa el concepto de POO</p>
</blockquote>
<ul>
<li>Ejemplo:</li>
</ul>
<pre><code class="language-typescript">class Person {
  age: number;
  lastName: string;

  constructor(age: number, lastName: string) {
    this.age = age;
    this.lastName = lastName;
  }
}</code></pre>
<ul>
<li>Otra forma de hacer lo mismo:</li>
</ul>
<pre><code class="language-typescript">class Person {
  constructor(public age: number, public lastName: string) {}
}</code></pre>
<ul>
<li>Se lo puede usar:</li>
</ul>
<pre><code class="language-typescript">const gabriel = new Person(23, &quot;Mamani&quot;);
gabriel.age;</code></pre>
<h3 id="string-interpolation">String Interpolation</h3>
<p>La forma en la que desde la lógica (TypeScript) se puede pasar datos a reenderizar a los templates (vista).</p>
<ul>
<li>Ejemplo:</li>
</ul>
<pre><code class="language-typescript">&lt;h2&gt;{{&quot;Hello world&quot;.repeat(5)}}&lt;/h2&gt;
&lt;p&gt;3 + 3 = {{3+3}}&lt;/p&gt;</code></pre>
<p>En la carpeta <strong>src</strong> hay un archivo <strong>app.component.ts</strong> en donde hay configuraciones que indican en donde se va a reendirazar la vista y variables que se pueden reenderizar.</p>
<pre><code class="language-typescript">//Archivo app.component.ts
import { Component } from &quot;@angular/core&quot;;

@Component({
  selector: &quot;app-root&quot;,
  templateUrl: &quot;./app.component.html&quot;,
  styleUrls: [&quot;./app.component.scss&quot;],
})
export class AppComponent {
  name = &quot;Gabriel&quot;;
  img = &quot;https://placeimg.com/640/480/any&quot;;
}
//Las variables deben tener acceso público, por defecto lo es</code></pre>
<pre><code class="language-html">&lt;!--Archivo app.component.html--&gt;
&lt;h3&gt;Hi, I&#39;m {{name}}&lt;/h3&gt;
&lt;img src=&quot;{{img}}&quot; alt=&quot;image&quot; /&gt;</code></pre>
<h3 id="property-binding">Property [Binding]</h3>
<p>Es la forma en la que se puede modificar atributos desde el controlador y mandarlos a la vista</p>
<pre><code class="language-typescript">//Archivo app.component.ts
import { Component } from &quot;@angular/core&quot;;

@Component({
  selector: &quot;app-root&quot;,
  templateUrl: &quot;./app.component.html&quot;,
  styleUrls: [&quot;./app.component.scss&quot;],
})
export class AppComponent {
  img = &quot;https://placeimg.com/200/200/any&quot;;
  name = &quot;Gabriel&quot;;
  number = 12;
  btnDisabled = true;
  thing = {
    name: &quot;Gabriel&quot;,
    number: 21,
    img: &quot;https://placeimg.com/200/200/any&quot;,
  };
}</code></pre>
<pre><code class="language-html">&lt;!--Archivo app.component.html--&gt;
&lt;h2&gt;Propiedades&lt;/h2&gt;
&lt;button [disabled]=&quot;btnDisabled&quot;&gt;Enviar&lt;/button&gt;
&lt;input type=&quot;text&quot; [value]=&quot;name&quot; /&gt;
&lt;progress max=&quot;100&quot; [value]=&quot;number&quot;&gt;&lt;/progress&gt;
&lt;img [src]=&quot;img&quot; alt=&quot;image&quot; /&gt;
&lt;br /&gt;
&lt;h2&gt;Propiedades usando un objeto&lt;/h2&gt;
&lt;button [disabled]=&quot;btnDisabled&quot;&gt;Enviar&lt;/button&gt;
&lt;input type=&quot;text&quot; [value]=&quot;thing.name&quot; /&gt;
&lt;progress max=&quot;100&quot; [value]=&quot;thing.number&quot;&gt;&lt;/progress&gt;
&lt;img [src]=&quot;thing.img&quot; alt=&quot;image&quot; /&gt;</code></pre>
<h3 id="¿string-interpolation-o-property-binding">¿String Interpolation o Property [Binding]?</h3>
<ul>
<li><p><strong>String Interpolation</strong> se lo usar para ingresar contenido como en un párrafo, h1 en donde se lo necesite reenderizarlo.</p>
</li>
<li><p><strong>Property [Binding]</strong> es especificamente para propiedades de las etiquetas HTML</p>
</li>
</ul>
<p><strong>Nota</strong>: Si se están usando <strong>Objetos</strong> es más recomendable usar <strong>Property Binding</strong></p>
<h3 id="event-binding">Event Binding</h3>
<pre><code class="language-html">&lt;!--Archivo app.component.html--&gt;
&lt;h1&gt;Eventos&lt;/h1&gt;
&lt;button [disabled]=&quot;btnDisabled&quot;&gt;Enviar&lt;/button&gt;
&lt;button (click)=&quot;toggleButton()&quot;&gt;Toggle Button&lt;/button&gt;
&lt;br /&gt;
&lt;button (click)=&quot;increaseNumber()&quot;&gt;Number ++&lt;/button&gt;
&lt;p&gt;Number: {{thing.number}}&lt;/p&gt;</code></pre>
<pre><code class="language-typescript">//Archivo app.component.ts
import { Component } from &quot;@angular/core&quot;;

@Component({
  selector: &quot;app-root&quot;,
  templateUrl: &quot;./app.component.html&quot;,
  styleUrls: [&quot;./app.component.scss&quot;],
})
export class AppComponent {
  img = &quot;https://placeimg.com/200/200/any&quot;;
  name = &quot;Gabriel&quot;;
  number = 12;
  btnDisabled = true;
  thing = {
    name: &quot;Gabriel&quot;,
    number: 21,
    img: &quot;https://placeimg.com/200/200/any&quot;,
  };
  //Puede ser public o private, pero si se lo quiere usar en el componente debe ser public (por defecto)
  toggleButton() {
    this.btnDisabled = !this.btnDisabled;
  }
  increaseNumber() {
    this.thing.number += 1;
  }
}</code></pre>
<h3 id="otros-eventos-que-escuchar">Otros eventos que escuchar</h3>
<ul>
<li>Keyup, Scroll</li>
</ul>
<pre><code class="language-html">&lt;!--Archivo app.component.html--&gt;
&lt;div class=&quot;box&quot; (scroll)=&quot;onScroll($event)&quot;&gt;
  &lt;p&gt;
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus
    quidem incidunt adipisci quod saepe non. Ratione tempore incidunt et, quo
    eaque illo accusantium neque eveniet necessitatibus qui, consectetur
    eligendi vel. Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Temporibus earum distinctio laboriosam unde porro dicta iure nam deleniti
    animi, officia, ad at odit repellendus provident error numquam eaque
    tempore! Maxime!
  &lt;/p&gt;
&lt;/div&gt;
&lt;p&gt;Nombre {{thing.name}}&lt;/p&gt;
&lt;input type=&quot;text&quot; [value]=&quot;thing.name&quot; (keyup)=&quot;changeName($event)&quot; /&gt;</code></pre>
<pre><code class="language-css">//Archivo app.component.scss
.box {
  height: 200px;
  width: 200px;
  overflow: auto;
  background-color: rebeccapurple;
  color: white;
}</code></pre>
<pre><code class="language-typescript">//Archivo app.component.ts

import { Component } from &quot;@angular/core&quot;;

@Component({
  selector: &quot;app-root&quot;,
  templateUrl: &quot;./app.component.html&quot;,
  styleUrls: [&quot;./app.component.scss&quot;],
})
export class AppComponent {
  img = &quot;https://placeimg.com/200/200/any&quot;;
  name = &quot;Gabriel&quot;;
  number = 12;
  btnDisabled = true;
  thing = {
    name: &quot;Gabriel&quot;,
    number: 21,
    img: &quot;https://placeimg.com/200/200/any&quot;,
  };

  // Otros eventos
  onScroll(event: Event) {
    const element = event.target as HTMLElement;
    console.log(element.scrollTop);
  }
  changeName(event: Event) {
    const element = event.target as HTMLInputElement;
    console.log(element.value);
    this.thing.name = element.value;
  }
}</code></pre>
<h3 id="data-binding-con-ngmodel">Data binding con ngModel</h3>
<pre><code class="language-html">&lt;!--Archivo app.component.html--&gt;
&lt;h1&gt;ngModel&lt;/h1&gt;
&lt;p&gt;Nombre: {{thing.name}}&lt;/p&gt;
&lt;input type=&quot;text&quot; required #nameInput=&quot;ngModel&quot; [(ngModel)]=&quot;thing.name&quot; /&gt;
&lt;p&gt;Valid: {{nameInput.valid}}&lt;/p&gt;
&lt;br /&gt;
&lt;p&gt;Number: {{thing.number}}&lt;/p&gt;
&lt;input
  type=&quot;number&quot;
  max=&quot;100&quot;
  min=&quot;1&quot;
  required
  #numberInput=&quot;ngModel&quot;
  [(ngModel)]=&quot;thing.number&quot;
/&gt;
&lt;p&gt;Valid: {{numberInput.valid}}&lt;/p&gt;</code></pre>
<p>Para que funcione <strong>ngModel</strong> hay que importarlo</p>
<pre><code class="language-typescript">// Archivo app.module.ts
import { NgModule } from &quot;@angular/core&quot;;
import { BrowserModule } from &quot;@angular/platform-browser&quot;;
import { FormsModule } from &quot;@angular/forms&quot;; // Esto se importa

import { AppRoutingModule } from &quot;./app-routing.module&quot;;
import { AppComponent } from &quot;./app.component&quot;;

@NgModule({
  declarations: [AppComponent],
  imports: [BrowserModule, AppRoutingModule, FormsModule], // Aqui tambien se lo coloca
  providers: [],
  bootstrap: [AppComponent],
})
export class AppModule {}</code></pre>
<h3 id="estructuras-de-control">Estructuras de control</h3>
<h3 id="uso-de-ngif">Uso de *ngIf</h3>
<pre><code class="language-html">&lt;h1&gt;*ngIf&lt;/h1&gt;
&lt;input type=&quot;text&quot; required [(ngModel)]=&quot;thing.name&quot; /&gt;
&lt;p *ngIf=&quot;thing.name === &#39;gabriel&#39;&quot;&gt;Soy Gabriel&lt;/p&gt;
&lt;p *ngIf=&quot;thing.name === &#39;alejandro&#39;&quot;&gt;Soy Alejandro&lt;/p&gt;
&lt;!--Si se cumple, se muestra --&gt;
&lt;!--Tambien se puede hacer condicionales &amp;&amp;--&gt;
&lt;p *ngIf=&quot;thing.name === &#39;alejandro&#39; &amp;&amp; thing.number === 22; else  elseBlock&quot;&gt;
  Soy Alejandro
&lt;/p&gt;
&lt;!-- Bloque de tipo else --&gt;
&lt;ng-template #elseBlock&gt;
  &lt;!-- El nombre que acompaña al #, es cualquiera --&gt;
  &lt;p&gt;Bloque de else&lt;/p&gt;
&lt;/ng-template&gt;</code></pre>
<h3 id="uso-de-ngfor">Uso de *ngFor</h3>
<pre><code class="language-typescript">// Archivo app.component.ts
names : string[] | number[]= [&quot;Gabriel&quot;, &quot;Alejandro&quot;, &quot;Simón&quot;]
//any[] -&gt; Indica que queremos cualquier valor, no es buena practica</code></pre>
<pre><code class="language-html">&lt;h1&gt;*ngFor&lt;/h1&gt;
&lt;ul&gt;
  &lt;!-- name es el nombre del item (variable temporal) a iterar, names es el array --&gt;
  &lt;!-- Para obtener el indice se usa index y lo renombramos con i egg--&gt;
  &lt;li *ngFor=&quot;let name of names; index as i&quot;&gt;{{i}} - {{name}}&lt;/li&gt;
&lt;/ul&gt;</code></pre>
<ul>
<li>Crear una lista dinamicamente y eliminar un item.</li>
</ul>
<pre><code class="language-typescript">// Archivo app.component.ts
  newName = &quot;&quot;;
  addName(){
    this.names.push(this.newName);
    this.newName = &quot;&quot;;
  }
  deleteName(index: number){
    this.names.splice(index,1);
  }</code></pre>
<pre><code class="language-html">&lt;h1&gt;*ngFor&lt;/h1&gt;
&lt;input type=&quot;text&quot; required [(ngModel)]=&quot;newName&quot; /&gt;
&lt;button (click)=&quot;addName()&quot;&gt;Add name&lt;/button&gt;
&lt;ul&gt;
  &lt;!-- name es el nombre del item (variable temporal) a iterar, names es el array --&gt;
  &lt;!-- Para obtener el indice se usa index y lo renombramos con i egg--&gt;
  &lt;li *ngFor=&quot;let name of names; index as i&quot;&gt;
    {{i}} - {{name}}
    &lt;button (click)=&quot;deleteName(i)&quot;&gt;Delete&lt;/button&gt;
  &lt;/li&gt;
  &lt;li *ngIf=&quot;names.length === 0&quot;&gt;No hay nombres&lt;/li&gt;
&lt;/ul&gt;</code></pre>
<h3 id="ngfor-para-arrays">*ngFor para arrays</h3>
<pre><code class="language-typescript">// Archivo app.component.ts
  products = [
    {
      name : &quot;coso&quot;,
      price : 231,
      image : &quot;./assets/images/toy1.jpg&quot;
    }{
      name : &quot;coso 2&quot;,
      price : 291,
      image : &quot;./assets/images/toy2.jpg&quot;
    }{
      name : &quot;coso 3&quot;,
      price : 211,
      image : &quot;./assets/images/toy3.jpg&quot;
    }{
      name : &quot;coso 4&quot;,
      price : 221,
      image : &quot;./assets/images/toy4.jpg&quot;
    }
  ]
</code></pre>
<ul>
<li>Hay que asignarle un tipado al array de productos, entonces se usa las interfaces.</li>
</ul>
<pre><code class="language-typescript">//Archivo product.model.ts
//La interface es una forma que nos dice que tipo de atributos debería tener cada objeto
export interface Product {
  name: string;
  price: number;
  image: string;
}</code></pre>
<ul>
<li>Ahora se lo importa</li>
</ul>
<pre><code class="language-typescript">// Archivo app.component.ts

  import {Product} from &quot;./product.model&quot;
  //Los : (dos puntos) significa asignar un tipado
  products: Product[] = [
    {
      name : &quot;coso 1&quot;,
      price : 231,
      image : &quot;./assets/images/toy1.jpg&quot;
      category: &quot;all&quot;,
    }{
      name : &quot;coso 2&quot;,
      price : 291,
      image : &quot;./assets/images/toy2.jpg&quot;
    }{
      name : &quot;coso 3&quot;,
      price : 211,
      image : &quot;./assets/images/toy3.jpg&quot;
    }{
      name : &quot;coso 4&quot;,
      price : 221,
      image : &quot;./assets/images/toy4.jpg&quot;
    }
  ]
</code></pre>
<ul>
<li>Como <strong>category</strong> no existe, vscode avisa que algo anda mal, para solucionarlo se puede hacer que sea opcional agregando a la interfaz dicho atributo con un signo de pregunta <strong>?</strong></li>
</ul>
<pre><code class="language-typescript">export interface Product {
  name: string;
  price: numb   er;
  image: string;
  category?:string;
}</code></pre>
<ul>
<li>*ngFor solo funciona en objetos que puedan iterarse</li>
</ul>
<h3 id="uso-de-ngswitch">Uso de ngSwitch</h3>
<pre><code class="language-html">&lt;h2&gt;ngSwitch&lt;/h2&gt;
&lt;input type=&quot;text&quot; required [(ngModel)]=&quot;thing.name&quot; /&gt;
&lt;div [ngSwitch]=&quot;thing.name&quot;&gt;
  &lt;p *ngSwitchCase=&quot;&#39;gabriel&#39;&quot;&gt;La persona es gabriel&lt;/p&gt;
  &lt;p *ngSwitchCase=&quot;&#39;alejandro&#39;&quot;&gt;La persona es alejandro&lt;/p&gt;
  &lt;p *ngSwitchCase=&quot;&#39;simon&#39;&quot;&gt;La persona es simon&lt;/p&gt;
  &lt;p *ngSwitchDefault&gt;No hace match&lt;/p&gt;
&lt;/div&gt;
&lt;!--
  Esto se haria si solo se usara *ngIf
  &lt;p *ngIf=&quot; thing.name===&#39;gabriel&#39;&quot;&gt;La persona es gabriel&lt;/p&gt;
  &lt;p *ngIf=&quot; thing.name===&#39;alejandro&#39;&quot;&gt;La persona es alejandro&lt;/p&gt;
  &lt;p *ngIf=&quot; thing.name===&#39;simon&#39;&quot;&gt;La persona es simon&lt;/p&gt; 
  --&gt;</code></pre>
<h3 id="extensión-para-navegadores-para-desarrollar-en-angular">Extensión para navegadores para desarrollar en Angular</h3>
<blockquote>
<p>Angular Dev Tools</p>
</blockquote>
<h3 id="estilos-en-angular">Estilos en Angular</h3>
<ul>
<li><p>La primera forma es la normal</p>
</li>
<li><p>La otra es: Dynamic Class &amp; Style</p>
</li>
</ul>
<pre><code class="language-typescript">// Archivo app.component.ts
widthImg = 10;</code></pre>
<pre><code class="language-html">&lt;h1&gt;Class &amp; Style&lt;/h1&gt;
&lt;input type=&quot;text&quot; required #nameInput2=&quot;ngModel&quot; [(ngModel)]=&quot;thing.name&quot; /&gt;
&lt;!--                     invalid es el nombre de la clase --&gt;
&lt;p class=&quot;message-error&quot; [class.invalid]=&quot;nameInput2.invalid&quot;&gt;
  El campo es requerido
&lt;/p&gt;
&lt;br /&gt;
&lt;label&gt;Nombre&lt;/label&gt;
&lt;!-- Como estilo en linea--&gt;
&lt;input type=&quot;text&quot; required #nameInput3=&quot;ngModel&quot; [(ngModel)]=&quot;thing.name&quot; /&gt;
&lt;p [style.font-style]=&quot;nameInput3.invalid  ? &#39;italic&#39; : &#39;normal&#39;&quot;&gt;
  Texto texto texto
&lt;/p&gt;
&lt;br /&gt;
&lt;div class=&quot;styles&quot;&gt;
  &lt;div&gt;
    &lt;input type=&quot;text&quot; [(ngModel)]=&quot;widthImg&quot; /&gt;
  &lt;/div&gt;
  &lt;div&gt;
    &lt;img [style.width.px]=&quot;widthImg&quot; [src]=&quot;thing.avatar&quot; /&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;hr /&gt;</code></pre>
<ul>
<li>CSS del código HTML anterior</li>
</ul>
<pre><code class="language-css">.message-error {
  background-color: red;
  color: white;
  opacity: 0;
  transition: all linear 0.5s;
  &amp;.invalid {
    opacity: 1;
  }
}

.styles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}</code></pre>
<h3 id="ngclass--ngstyle">NgClass &amp; NgStyle</h3>
<pre><code class="language-html">&lt;h2&gt;NgClass&lt;/h2&gt;
&lt;input type=&quot;text&quot; required #nameInput4=&quot;ngModel&quot; [(ngModel)]=&quot;thing.name&quot; /&gt;
&lt;!-- Si se sigue con esto puede llegar a ser poco legible --&gt;
&lt;!-- &lt;hr class=&quot;line-error&quot; 
  [class.valid]=&quot;nameInput4.valid&quot;
  [class.invalid]=&quot;nameInput4.invalid&quot;&gt; --&gt;

&lt;!-- Es mejor usar ...--&gt;
&lt;hr
  class=&quot;line-error&quot;
  [ngClass]=&quot;{
    &#39;valid&#39;:nameInput4.valid,
    &#39;invalid&#39;:nameInput4.invalid
  }&quot;
/&gt;
&lt;p class=&quot;message-error&quot; [class.invalid]=&quot;nameInput4.invalid&quot;&gt;
  El campo es requerido
&lt;/p&gt;
&lt;h2&gt;Ng Style&lt;/h2&gt;
&lt;div class=&quot;styles&quot;&gt;
  &lt;div&gt;
    &lt;input type=&quot;number&quot; [(ngModel)]=&quot;box.width&quot; /&gt;
    &lt;input type=&quot;number&quot; [(ngModel)]=&quot;box.height&quot; /&gt;
    &lt;input type=&quot;color&quot; [(ngModel)]=&quot;box.background&quot; /&gt;
  &lt;/div&gt;
  &lt;div&gt;
    &lt;div
      [ngStyle]=&quot;{
        &#39;width.px&#39;:box.width,
        &#39;height.px&#39;:box.height,
        &#39;background-color&#39;:box.background,
        &#39;display&#39;: &#39;block&#39;
      }&quot;
    &gt;&lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
<pre><code class="language-typescript">box = {
  width: 100,
  height: 100,
  background: &quot;red&quot;,
};</code></pre>
<h3 id="creando-un-formulario">Creando un formulario</h3>
<pre><code class="language-html">&lt;h2&gt;Formulario&lt;/h2&gt;
&lt;form (ngSubmit)=&quot;onRegister()&quot; #myForm=&quot;ngForm&quot;&gt;
  &lt;div class=&quot;input.group&quot;&gt;
    &lt;label for=&quot;name&quot;&gt;Nombre&lt;/label&gt;
    &lt;input
      required
      name=&quot;name&quot;
      type=&quot;text&quot;
      id=&quot;name&quot;
      [(ngModel)]=&quot;register.name&quot;
    /&gt;
    &lt;p&gt;Mensajes de error&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class=&quot;input.group&quot;&gt;
    &lt;label for=&quot;email&quot;&gt;Email&lt;/label&gt;
    &lt;input
      required
      name=&quot;email&quot;
      type=&quot;text&quot;
      id=&quot;email&quot;
      [(ngModel)]=&quot;register.email&quot;
    /&gt;
    &lt;p&gt;Mensajes de error&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class=&quot;input.group&quot;&gt;
    &lt;label for=&quot;password&quot;&gt;Password&lt;/label&gt;
    &lt;input
      name=&quot;password&quot;
      required
      type=&quot;text&quot;
      id=&quot;password&quot;
      [(ngModel)]=&quot;register.password&quot;
    /&gt;
    &lt;p&gt;Mensajes de error&lt;/p&gt;
  &lt;/div&gt;
  &lt;button [disabled]=&quot;myForm.invalid&quot; type=&quot;submit&quot;&gt;Registrar&lt;/button&gt;
  &lt;!-- Si hay otro boton que hace otra cosa que no sea enviar el formulario hay que ponerle un type=&quot;button&quot;, sino angular lo toma como si fuera un type=&quot;submit&quot; --&gt;
  &lt;button type=&quot;button&quot;&gt;Action&lt;/button&gt;
&lt;/form&gt;</code></pre>
<pre><code class="language-typescript">  register = {
    name: &#39;&#39;,
    email: &#39;&#39;,
    password: &#39;&#39;,
  };
  onRegister() {
    console.log(this.register);
  }
}</code></pre>
      </section>

      <section>
        <h2 id="estructura-de-ficheros-en-angular">Estructura de ficheros en Angular</h2>
<h3 id="archivos-de-configuración">Archivos de configuración</h3>
<ul>
<li><strong>tsconfig.spec.json</strong> es el archivo de testing</li>
<li><strong>tsconfig.json</strong> es donde están las configuraciones de typescript</li>
<li><strong>tsconfig.app.json</strong> extiende del archivo anterior.</li>
<li><strong>package.json</strong> se encuentran los scripts que se pueden usar, dependencias, etc.</li>
<li><strong>angular.json</strong> se pueden indicar reglas como en donde se guardará el proyecto cuando se haga el <strong>build</strong><ul>
<li><em>outputPath</em> es el directorio final.</li>
<li><em>styles</em> aqui se puede agregar bootstrap.</li>
<li><em>budgets</em> se puede indicar cuanto se quiere que ocupe la aplicación como mínimo y máximo.</li>
</ul>
</li>
</ul>
<h3 id="la-carpeta-src">La carpeta src</h3>
<ul>
<li><em>styles.css</em> es el fichero de estilos global.</li>
<li><em>main.ts</em> es el encargado de levantar la aplicación</li>
<li><em>index.html</em> es donde Angular inyecta todo el código que se genere</li>
</ul>
<h3 id="la-carpeta-app">La carpeta app</h3>
<ul>
<li>Es donde se crean los componentes, servicios, etc.</li>
<li><em>app.component.html</em> es el segundo archivo html principal de la aplicación.</li>
<li><em>app.component.ts</em> es el archivo asociado al html, es donde se escribe la lógica</li>
<li><em>app.module.ts</em> es el módulo principal de la aplicación.</li>
</ul>
<pre><code class="language-typescript">import { NgModule } from &quot;@angular/core&quot;;
import { BrowserModule } from &quot;@angular/platform-browser&quot;;

import { AppRoutingModule } from &quot;./app-routing.module&quot;;
import { AppComponent } from &quot;./app.component&quot;;

@NgModule({
  declarations: [AppComponent], //Se pueden declarar otros componentes que no tengan modulo propio
  imports: [BrowserModule, AppRoutingModule], //Se puede inyectar otros modulos
  providers: [], //Se puede inyectar servicios
  bootstrap: [AppComponent], //Es el componente inicial que se lanza en la aplicación
})
export class AppModule {}</code></pre>
<h3 id="la-carpeta-assets">La carpeta assets</h3>
<ul>
<li>Se puede tener imagenes, fuentes.</li>
</ul>
<h3 id="la-carpeta-environments">La carpeta environments</h3>
<ul>
<li>Los ficheros se los usa para crear variables en la aplicación, como por ejemplo una url de una api</li>
</ul>
      </section>

      <section>
        <h2 id="componentes">Componentes</h2>
<h3 id="¿qué-es-un-componente-en-angular">¿Qué es un componente en Angular?</h3>
<p>Un componente básicamente es markup, meta-data y clase, todo esto combinado crea una UI (User Interface).</p>
<h3 id="crear-componente-con-la-cli-de-angular">Crear componente con la cli de Angular</h3>
<p>&lt;nombre&gt; es el nombre del componente</p>
<pre><code class="language-console">ng g c &lt;button&gt;</code></pre>
<h3 id="inyectar-un-componente">Inyectar un componente</h3>
<pre><code class="language-typescript">//archivo button.component.ts
import { Component, OnInit } from &quot;@angular/core&quot;;

@Component({
  selector: &quot;app-button&quot;, //Nombre de la etiqueta del componente
  templateUrl: &quot;./button.component.html&quot;, //Ruta del contenido html del componente
  styleUrls: [&quot;./button.component.css&quot;], //Ruta de los estilos del componente
})
export class ButtonComponent implements OnInit {
  //Lógica del componente
  constructor() {}

  ngOnInit(): void {}
}</code></pre>
<p>Se lo inyecta al archivo <strong>app.component.html</strong> de la siguiente manera</p>
<pre><code class="language-html">&lt;!--archivo app.component.html--&gt;
&lt;app-button&gt;&lt;/app-button&gt;</code></pre>
      </section>

      <section>
        <h2 id="one-way-data-binding">One way data binding</h2>
<h3 id="interpolación-angular">Interpolación {{angular}}</h3>
<p>Permite colocar texto entre elementos html y atributos</p>
<pre><code class="language-typescript">title: string = &quot;tutorial&quot;;
url: string = &quot;https://www.placeimg.com/300/400&quot;;</code></pre>
<pre><code class="language-html">&lt;p&gt;{{title}} para aprender Angular&lt;/p&gt;
&lt;p&gt;Total: {{5+5}}&lt;/p&gt;
&lt;img src=&quot;{{url}}&quot; alt=&quot;&quot; /&gt;</code></pre>
      </section>

      <section>
        <h2 id="two-way-data-binding">Two way data binding</h2>
<h3 id="enlace-de-datos-bidireccional">Enlace de datos bidireccional</h3>
<p>Se hace uso de <strong>NgModel</strong> quien crea una instancia del form-control, entonces se lo importa en el archivo <strong>app.module.ts</strong></p>
<pre><code class="language-typescript">//app.module.ts
import { FormsModule } from &#39;@angular/forms&#39;;

@NgModule({
  imports: [FormsModule],
})</code></pre>
<pre><code class="language-typescript">//app.component.ts
//También puede ser cualquier otro componente el archivo
  name!: string;</code></pre>
<pre><code class="language-html">&lt;!--app.component.html--&gt;
&lt;p&gt;El nombre es: {{name}}&lt;/p&gt;
&lt;input type=&quot;text&quot; [(ngModel)]=&quot;name&quot; /&gt;</code></pre>
      </section>

      <section>
        <h2 id="directivas">Directivas</h2>
<h3 id="¿qué-es-una-directiva">¿Qué es una directiva?</h3>
<p>Las directivas son como atributos que pueden cambiar la apariencia o el comportamiento del DOM element.</p>
<h3 id="tipos-de-directivas">Tipos de directivas</h3>
<ul>
<li>Estructurales</li>
<li>De atributos</li>
<li>Directivas Customs</li>
<li>Componentes - Son directivas con template</li>
</ul>
<h3 id="ngfor---directiva-estructural">*NgFor - Directiva estructural</h3>
<pre><code class="language-typescript">cities = [&quot;Barcelona&quot;, &quot;Madrid&quot;, &quot;Lima&quot;];</code></pre>
<pre><code class="language-html">&lt;ul *ngFor=&quot;let city of cities&quot;&gt;
  &lt;li&gt;{{city}}&lt;/li&gt;
&lt;/ul&gt;</code></pre>
<h3 id="ngif---directiva-estructural">*NgIf - Directiva estructural</h3>
<pre><code class="language-typescript">//app.component.ts
//También puede ser cualquier otro componente el archivo
  name!: string;</code></pre>
<pre><code class="language-html">&lt;!--app.component.html--&gt;
&lt;p *ngIf=&quot;name &quot;&gt;El nombre es: {{name}}&lt;/p&gt;
&lt;input type=&quot;text&quot; [(ngModel)]=&quot;name&quot; /&gt;</code></pre>
      </section>

      <section>
        <h2 id="directivas-de-atributos">Directivas de atributos</h2>
<h3 id="formas-de-agregar-estilos-con-ngclass-ngstyle">Formas de agregar estilos con ngClass, ngStyle</h3>
<pre><code class="language-css">.selected {
  background-color: rebeccapurple;
  color: white;
  padding: 1rem;
}

.unSelected {
  background-color: white;
  color: black;
}

.red {
  color: red;
}</code></pre>
<pre><code class="language-html">&lt;ul *ngFor=&quot;let city of cities&quot;&gt;
  &lt;!-- ngClass --&gt;
  &lt;!-- Primer forma --&gt;
  &lt;li [ngClass]=&quot;[&#39;selected&#39;,&#39;red&#39;]&quot;&gt;{{city}}&lt;/li&gt;
  &lt;!-- Segunda forma --&gt;
  &lt;li [ngClass]=&quot;&#39;selected red&#39;&quot;&gt;{{city}}&lt;/li&gt;
  &lt;!-- Tercer forma --&gt;
  &lt;li [ngClass]=&quot;{&#39;selected&#39;:true}&quot;&gt;{{city}}&lt;/li&gt;
  &lt;!-- Con un poco de dinamismo --&gt;
  &lt;li [ngClass]=&quot;{&#39;selected&#39;:city === &#39;Lima&#39;, &#39;red&#39;:city !== &#39;Barcelona&#39;}&quot;&gt;
    {{city}}
  &lt;/li&gt;
  &lt;!-- ngStyle --&gt;
  &lt;li [ngStyle]=&quot;{&#39;color&#39;:&#39;red&#39;, &#39;background&#39;:city===&#39;Madrid&#39;? &#39;blue&#39;:&#39;green&#39;}&quot;&gt;
    {{city}}
  &lt;/li&gt;
  &lt;!-- Es como poner estilos en línea, no muy recomendado --&gt;
&lt;/ul&gt;</code></pre>
      </section>

      <section>
        <h2 id="ciclo-de-vida-de-un-componente">Ciclo de vida de un componente</h2>
<p>Un componente tiene un ciclo de vida que comienza cuando Angular crea una instancia de la clase de componente y representa la vista del componente junto con sus vistas secundarias.</p>
<p>El ciclo de vida continúa con la detección de cambios, ya que Angular verifica cuándo cambian las propiedades vinculadas a los datos y actualiza tanto la vista como la instancia del componente según sea necesario.</p>
<p>El ciclo de vida finaliza cuando Angular destruye la instancia del componente y elimina su plantilla renderizada del DOM.</p>
<p>Las directivas tienen un ciclo de vida similar, ya que Angular crea, actualiza y destruye instancias en el curso de la ejecución.</p>
<h3 id="interfaces-que-se-ejecutan-durante-el-ciclo-de-vida-de-un-componente">Interfaces que se ejecutan durante el ciclo de vida de un componente</h3>
<p><img src="./../../assets/images/ciclo-vida-componente-angular.png" alt="Ciclo de vida de un compontente"></p>
<h3 id="las-tres-interfaces-mas-importantes">Las tres interfaces mas importantes</h3>
<pre><code class="language-typescript">  ngOnChanges(changes: SimpleChanges): void {
    console.log(&#39;Change-&gt;&#39;, changes);
    // Trae los cambios anteriores y los nuevos
    // Se los ve con los inputs, outputs
  }
  ngOnInit(): void {
    console.log(&#39;OnInit-&gt;&#39;);
    // Se ejecuta si no hay inputs u outputs
    // Se lo usa para consumir API
  }
  ngOnDestroy(): void {
    console.log(&#39;Destroy&#39;);
    // Se utiliza para la desuscripcion de los observables y cuando el usuario va a abondar el componente
  }</code></pre>
      </section>

      <section>
        <h2 id="event-binding">Event binding</h2>
<p>Para vincular a un evento, utiliza la sintaxis de vinculación de eventos Angular.</p>
<p>Esta sintaxis consta de un nombre de evento de destino entre paréntesis a la izquierda de un signo igual y una declaración de plantilla entre comillas a la derecha.
En el siguiente ejemplo, el nombre del evento de destino es click y la instrucción de la plantilla es onSave().</p>
<p><img src="./../../assets/images/event-binding-angular.png" alt="event-binding"></p>
<p>Nos permite escuchar y responder a acciones del usuario, como por ejemplo: pulsasiones de teclas, movimientos del mouse, clicks.</p>
<pre><code class="language-css">.selected {
  background-color: rebeccapurple;
  color: white;
  padding: 1rem;
}

.unSelected {
  background-color: white;
  color: black;
}

.red {
  color: red;
}</code></pre>
<pre><code class="language-html">&lt;!--app.component.html--&gt;
&lt;ul&gt;
  &lt;li
    *ngFor=&quot;let city of cities&quot;
    (click)=&quot;onCityClicked(city)&quot;
    [ngClass]=&quot;{&#39;selected&#39;:city===selection}&quot;
  &gt;
    {{city}}
  &lt;/li&gt;
&lt;/ul&gt;

&lt;div *ngIf=&quot;selection&quot;&gt;
  &lt;p&gt;Your city is: {{selection}}&lt;/p&gt;
  &lt;button (click)=&quot;onClear()&quot;&gt;Clear your selection&lt;/button&gt;
&lt;/div&gt;</code></pre>
<pre><code class="language-typescript">//app.component.ts
name!: string;
selection!: string;
cities = [&quot;Barcelona&quot;, &quot;Madrid&quot;, &quot;Lima&quot;];

onCityClicked(city: string):void{
  console.log(&quot;City -&gt;&quot;, city);
  this.selection = city;
}
onClear():void{
  this.selection = &quot;&quot;;
}</code></pre>
      </section>

      <section>
        <h2 id="¿qué-es-un-decorador">¿Qué es un decorador?</h2>
<p>Un decorador es un tipo especial de declaración que se puede adjuntar a una clase, método, descriptor de acc.</p>
<h3 id="decorador-input">Decorador @Input()</h3>
<p>El decorador @Input() en un componente (o directiva) hijo significa que la propiedad puede recibir su valor</p>
<p><img src="./../../assets/images/decorador-input-angular.png" alt="decorador-input"></p>
<pre><code class="language-console">ng g c button</code></pre>
<pre><code class="language-html">&lt;!--app.component.html--&gt;
&lt;ul&gt;
  &lt;li
    *ngFor=&quot;let city of cities&quot;
    (click)=&quot;onCityClicked(city)&quot;
    [ngClass]=&quot;{&#39;selected&#39;:city===selection}&quot;
  &gt;
    {{city}}
  &lt;/li&gt;
&lt;/ul&gt;

&lt;div *ngIf=&quot;selection&quot;&gt;
  &lt;p&gt;Your city is: {{selection}}&lt;/p&gt;
  &lt;!-- &lt;button (click)=&quot;onClear()&quot;&gt;Clear your selection&lt;/button&gt; --&gt;
  &lt;app-button
    (click)=&quot;onClear()&quot;
    [color]=&quot;&#39;red&#39;&quot;
    [label]=&quot;&#39;Clear your selection&#39;&quot;
  &gt;&lt;/app-button&gt;
&lt;/div&gt;</code></pre>
<pre><code class="language-typescript">//button.component.ts
@Component({
  selector: &quot;app-button&quot;,
  templateUrl: `&lt;button [ngStyle]=&quot;{&#39;background-color&#39;:color}&quot;&gt;{{label}}&lt;/button&gt;`,
  styleUrls: [&quot;./button.component.css&quot;],
})
export class ButtonComponent implements Onchanges, OnInit, OnDestroy {
  @Input() color!: string;
  @Input() label!: string;
  constructor() {}
  ngOnChanges(changes: SimpleChanges): void {
    console.log(&quot;Changes-&gt;&quot;, changes);
  }
  ngOnInit(): void {
    console.log(&quot;OnInit&quot;);
  }
  ngOnDestroy(): void {
    console.log(&quot;OnDestroy&quot;);
  }

  //Para ver el ciclo de vida, abrir la consola del inspector de elementos
}</code></pre>
<h3 id="decorador-output">Decorador @Output()</h3>
<p>El decorador @Output () en un componente (o directiva) hijo permite que los datos fluyan del hijo al padre.</p>
<p><img src="./../../assets/images/decorador-output-angular.png" alt="decorador-input"></p>
<pre><code class="language-console">ng g c form-new-item</code></pre>
<pre><code class="language-typescript">//app.component.ts
name!: string;
selection!: string;
cities = [&quot;Barcelona&quot;, &quot;Madrid&quot;, &quot;Lima&quot;];

addNewCity(city:string):void {
  this.cities.push(city);
}

onCityClicked(city: string):void{
  console.log(&quot;City -&gt;&quot;, city);
  this.selection = city;
}
onClear():void{
  this.selection = &quot;&quot;;
}</code></pre>
<pre><code class="language-html">&lt;!--app.component.html--&gt;

&lt;app-form-new-item
  (newItemEvent)=&quot;addNewCity($event)&quot;
  [label]=&quot;&#39;City&#39;&quot;
  [className]=&quot;&#39;btn-info&#39;&quot;
&gt;&lt;/app-form-new-item&gt;

&lt;ul&gt;
  &lt;li
    *ngFor=&quot;let city of cities&quot;
    (click)=&quot;onCityClicked(city)&quot;
    [ngClass]=&quot;{&#39;selected&#39;:city===selection}&quot;
  &gt;
    {{city}}
  &lt;/li&gt;
&lt;/ul&gt;

&lt;div *ngIf=&quot;selection&quot;&gt;
  &lt;p&gt;Your city is: {{selection}}&lt;/p&gt;
  &lt;!-- &lt;button (click)=&quot;onClear()&quot;&gt;Clear your selection&lt;/button&gt; --&gt;
  &lt;app-button
    (click)=&quot;onClear()&quot;
    [color]=&quot;&#39;red&#39;&quot;
    [label]=&quot;&#39;Clear your selection&#39;&quot;
  &gt;&lt;/app-button&gt;
&lt;/div&gt;</code></pre>
<pre><code class="language-html">&lt;!--form-new-item.component.html--&gt;
&lt;form&gt;
  &lt;label for=&quot;newItem&quot;&gt;New {{label}}&lt;/label&gt;
  &lt;!-- template variable --&gt;
  &lt;input type=&quot;text&quot; id=&quot;newItem&quot; #newItem /&gt;
  &lt;button
    (click)=&quot;onAddNewItem(newItem.value)&quot;
    type=&quot;button&quot;
    [ngClass]=&quot;[className]&quot;
  &gt;
    Add {{label}}
  &lt;/button&gt;
&lt;/form&gt;</code></pre>
<pre><code class="language-typescript">// form-new-item.component.ts
import { Component, Input, OnInit, Output, EventEmitter } from &quot;@angular/core&quot;;

@Component({
  selector: &quot;app-form-new-item&quot;,
  templateUrl: &quot;./form-new-item.component.html&quot;,
  styleUrls: [&quot;./form-new-item.component.css&quot;],
})
export class FormNewItemComponent {
  @Input() className!: string;
  @Input() label!: string;

  @Output() newItemEvent = new EventEmitter&lt;string&gt;();

  onAddNewItem(item: string): void {
    console.log(&quot;Item&quot;, item);
    this.newItemEvent.emit(item);
  }
}</code></pre>
<p>Cabe destacar que cuando usamos el decorador @Input se utiliza [ ] para indicarle al componente hijo el valor que se esta pasando, en cambio el decorador @Output utiliza ( ) para capturar el valor emitido y pasrselo al metodo que tiene el componente padre.</p>
      </section>
    </section>
  </main>

  <template id="template-summary">
    <section>
      <header>
        <h1 class="neon angular">Angular</h1>
      </header>
    </section>
  </template>

  <!-- Button scroll top -->
<button class="scroll-top-btn hidden">⬆</button>
<!-- Custom JS  -->
<script src="./../js/index.js" type="module"></script>
<!-- Highlight JS -->
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
</body>

</html>