<header class="header">
  <div class="header-menu">
    <a href="./index.html" class="nav-logo">Gamcode</a>
    <div class="header-btns">
      <a href="#" title="Theme" id="icon-theme">
        <i class="uil uil-moon icon-img"></i>
      </a>
      <a href="#" title="Menu" id="icon-menu">
        <i class="uil uil-apps icon-img"></i>
      </a>
    </div>
  </div>
  <nav class="nav-menu">
    <ul class="nav-items">
      <li>
        <a href="#" title="Buy me a coffee">
          <i class="uil uil-coffee icon-img"></i>
        </a>
      </li>
      <li>
        <a href="#" title="Portfolio">
          <i class="uil uil-suitcase icon-img"></i>
        </a>
      </li>
      <li>
        <a href="#" title="GitHub">
          <i class="uil uil-github icon-img"></i>
        </a>
      </li>
      <li>
        <a href="#" title="Linkedin">
          <i class="uil uil-linkedin icon-img"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>